body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header {
  background:tomato;
  padding : 10px;
}


header h1{
  color: white;
  max-width: 1200px;
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
  margin: 0 auto; 
}

 template for article and things 

h2{
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 10px solid #eee; 
}

.content{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
} 

.form-control {
  width: 50%;
  border: 1px solid #ccc;
  padding: 10px; 
}

.control-error {
  border: 1px solid red;
}